  var scheme   = "<%= @scheme %>";
var uri      = scheme + window.document.location.host + "/";
var ws       = new WebSocket(uri);
// var uri = "ws://"+window.document.location.host+"/"
// var ws = new Faye.Client(uri);
// alert("uri:"+uri);
// alert("ws:"+ws);

var host = "<%= @host %>"
var port = "<%= @port %>"

ws.onmessagey = function(message) {
  var data = JSON.parse(message.data);
  //var data = message.data;
  // $("#messages-2k13").prepend("<div class='panel panel-default'><div class='panel-heading'  style='height: auto; line-height: 50%; word-wrap: break-word; font-size: 65%'>" + data + "</div><div class='panel-body' style='height: 50%; line-height: 50%;'>" + data + "</div></div>");
  // $("#messages-2k13").prepend("<div class='panel panel-default'><div class='panel-heading' >" + "arduino" + "</div><div class='panel-body'>" + data.first_name + " " + data.last_name + " ; " + data.course + "-" + data.year_level + " ; " + data.Time +"</div></div>");

  var time = "<small>" + data.Time + "</small>"
  var temp_image = "<img class=\"img-circle\" src=\"images//temp_pic.png\">"


  $("#messages-2k13").html(temp_image + "<br>" + data.id_number + "<br>" + data.full_name + "<br>" + data.course_year + "<br>" +time);
  

  // $("#messages-2k13").stop().animate({
  //   scrollTop: $('#messages-2k13')[0].scrollHeight
  // }, 800);
};


ws.onmessagex = function(message) {
  var data = JSON.parse(message.data);
  //var data = message.data;
  $("#messages-2k13").prepend("<div class='panel panel-default'><div class='panel-heading'  style='height: auto; line-height: 50%; word-wrap: break-word; font-size: 65%'>" + "arduino" + "</div><div class='panel-body' style='height: 50%; line-height: 50%;'>" + data.full_name + "<br/>" + data.Time + "<br>" + "</div></div>");
  // $("#messages-2k13").prepend("<div class='panel panel-default'><div class='panel-heading' >" + data.handle + "</div><div class='panel-body'>" + data.text + "</div></div>");
  $("#messages-2k13").stop().animate({
    scrollTop: $('#messages-2k13')[0].scrollHeight
  }, 800);
};


// <div class="row">
//   <div class="col-xs-6">.col-xs-6</div>
//   <div class="col-xs-6">.col-xs-6</div>
// </div>

ws.onmessagez = function(message) {
  var data = JSON.parse(message.data);
  //var data = message.data;
  $("#messages-2k13").prepend("<div class='panel panel-default'>" + "<div class='panel-body'>" + "<img class=\"img-circle\" src=\"images//temp_pic.png\">" + "<br/>" + data.full_name + "<br/>" + data.course_year + "<br>" + data.Time + "</div></div></div></div>");
  // $("#messages-2k13").prepend("<div class='panel panel-default'><div class='panel-heading' >" + data.handle + "</div><div class='panel-body'>" + data.text + "</div></div>");
  $("#messages-2k13").stop().animate({
    scrollTop: $('#messages-2k13')[0].scrollHeight
  }, 800);
};

ws.onmessage = function(message) {
  var data = JSON.parse(message.data);
  //var data = message.data;
  $("#messages-2k13").prepend("<div class='col-xs-6'>" + "<div class='panel panel-default'>" + "<div class='panel-body'>" + "<br>" + "<img class=\"img-circle\" src=\"images//temp_pic.png\">" + "<br/>" + data.full_name + "<br/>" + data.course_year + "<br>" + data.Time + "<br>" + "</div></div>");
  // $("#messages-2k13").prepend("<div class='panel panel-default'><div class='panel-heading' >" + data.handle + "</div><div class='panel-body'>" + data.text + "</div></div>");
  $("#messages-2k13").stop().animate({
    scrollTop: $('#messages-2k13')[0].scrollHeight
  }, 800);
};



function robot_send(msg){
  ws.send( JSON.stringify( {
     handle : "TO:"+"Robot"+ " FR:" +host+":"+port,
     text   : msg
    } )
  );
}



$("#input-form").on("submit", function(event) {
  event.preventDefault();
  var handle = "[TO:].. " + $("#input-handle")[0].value + ".... [FR:].."+host+":"+port ;
  var text   = $("#input-text")[0].value;
  ws.send(JSON.stringify({ handle: handle, text: text }));
  $("#input-text")[0].value = "";
});
